@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    list-style: none;
    
}

body{
    background-color:#E2EFF4;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #128596;  
    color:#FFF;
    height: 100px;
}

header img{
    padding-left: 2vw;
    width: 8vw;
}

.menu{
    display: none;
}

header div{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

header nav{
    width: 70%;

}

header ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
    
}

header li{
    font-size: 25px;
    font-weight: 500;
}

header input{
    border-radius:10px;
    border: solid 2px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
   
}

header input::placeholder{
    color: #636060;
    padding-left: 5px;
    border-left:10px solid transparent;
    background-image: url('./assets/image\ 1.png');
    background-repeat: no-repeat;
    text-align: center;
}


main{
    height: 485px;
    background-color: #FCE5AC;
}


main figure{
    margin-right:20vw
}

.firtSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    width:100%;
    height: 550px;
}

.boxText{
    width: 40%;
    height: 50vh;
    margin-left:10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left:17vw;
    bottom:9vh;

}

main h1{
    font-size:50px;
    color:#128596 ;
    font-weight: 700;
}

main ul{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    font-size:25px;
    height: 30vh;
    color:#D56E0E;
    font-weight: 600;
   
    
}

.boxText li:hover{
    background-color:#F4BC81;
    cursor:pointer;
}

.borda{
    margin-left:21vw;
    border-top:solid;
    width: 150px;
    color:#6989964D;
}

.title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h2{
    color:#128596;
    font-size:50px;
    text-align: center;
}

.secondSection{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondSection div{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    padding-left: 10vw;
}

.secondSection figure{
    background-color: #128596;
    width: 160px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.boxLula:hover::before{
    content: 'Lula Molusco: Vizinho do Bob Esponja';
    color:#E2EFF4;
    position: absolute;
    top:6vh;
    width: 155px;
    height: 70px;
    background-color: #BF7A59;
    opacity: 0.8;
    border-radius: 0 0 20px 20px;
    animation: slide-top 1s ease-in-out  1 normal both;
    cursor:pointer;
}


@keyframes slide-top{
    0%{
        top:3vh;
    }
    100%{
        top:6vh;
    }
}